/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}
.country {
  border: 5px solid white;
}
.pages span:last-child {
  padding: 0 10px;
}
