.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first {
  align-items: flex-end;
  justify-content: flex-end;
}
.countries--second {
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: center;
}
.countries--third {
  align-items: flex-start;
  justify-content: center;
}
.countries--third .country--brazil {
  align-self: flex-end;
}
.countries--fourth {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.countries--fourth .country--laos,
.countries--fourth .country--ethiopia {
  align-self: center;
}
.countries--fifth {
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: space-between;
}
.countries--fifth .country--uganda {
  order: 4;
  align-self: center;
}
.countries--fifth .country--laos {
  order: 5;
}
