.countries {
  display: flex;
}

/* Add your own CSS code below */
/* first */
.countries--first .country--brazil {
  order: 5;
}
.countries--first .country--croatia,
.countries--second .country--croatia {
  order: 1;
}
.countries--first .country--ethiopia,
.countries--second .country--ethiopia {
  order: 2;
}
.countries--first .country--laos,
.countries--second .country--laos {
  order: 3;
}
.countries--first .country--uganda {
  order: 4;
}
/* second */
.countries--second .country--brazil {
  order: 4;
}
.countries--second .country--uganda {
  order: 5;
}
/* third */
.countries--third .country--croatia {
  order: 4;
}
.countries--third .country--ethiopia {
  order: 3;
}
.countries--third .country--laos {
  order: 2;
}
.countries--third .country--brazil {
  order: 5;
}
.countries--third .country--uganda {
  order: 1;
}
